.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(https://i.pinimg.com/564x/33/ca/72/33ca724166d13a5cc0685eb1a36b9545.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  width: 120%;
    
    transform: translateX(-81px);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{

display: flex;
flex-direction: column;
border: 2px solid red;
width: 200px;
justify-content: center;
}


button{
  border-radius: 20px;
  background-color: red;
}
.form{
  width: 30%;
  border: 2px solid #9A208C;
padding: 3rem;
border-radius: 5%;
box-shadow: 0 5px 4px #9A208C;
  
}
.title{
  color: #9A208C;
}

